*{
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: Grotesk;
  src: url('../public/font/PP\ Right\ Grotesk-normal-400-100.ttf');
}
@font-face {
  font-family: Neue Montreal;
  src: url('../public/font/PP\ Neue\ Montreal-normal-400-100.ttf');
}
@font-face {
  font-family: Supply Mono;
  src: url('../public/font/PP\ Supply\ Mono\ Light-normal-400-100.ttf');
}

body {
  margin: 0;
  font-family: Neue Montreal;
  color: #E72E00;
      margin:0 80px ;

  padding-bottom: 120px;
  background: #FEF8F2;
  
}
section, header{
  margin-bottom: 150px;
}

.title{
  font-family: Grotesk;
  text-transform: uppercase;
  font-size: 138px;
  margin-bottom: 120px;
}

.header{
}
.header p{
  width: 60%;
}
.Bigtitle{
   font-family: Grotesk;
  text-transform: uppercase;

    font-size: 338px;

}
.subbtitle{
    position: relative;
    top: 15px;
    left: 5px;
    font-family: Supply Mono;
    font-size: 16px;
    font-weight: normal;
} 

.projet{

}
.serviceList{
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.serviceTexte{
  width: 60%;
  margin-left: 40%;
}
.serviceButton{
  display: flex ;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 4px;
  border: #E72E00 1px solid;
}

.serviceButtonIconTexte{
    font-family: Supply Mono;

  display: flex;
  align-items: center;
  justify-items: center;
    gap: 12px;
}

.icon{
  width: 27px;
  height: 27px;
  background: #E72E00;
  border-radius: 4px;
}
.whiteIcon{
  width: 27px;
  height: 27px;
  color: #E72E00;
  background: white;
  border-radius: 4px;
}
.squareCenter{
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;

}
.squareInformation{
  display: flex;
flex-direction: column;
width: 50%;
  padding: 48px;
  border-radius: 4px;
  border: #E72E00 1px solid;
}

.squareTexte{
  margin-bottom: 60px;
}

.contactList{
  display: flex;
  gap: 12px;
}

.contactTitleParapgrahe{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}
.contactTitleParapgrahe h5{
  font-size: 16px;
  font-family: Supply Mono;
}

.footerTitle{
   font-family: Grotesk;
  text-transform: uppercase;
  font-size: 138px;
  margin-bottom: 24px;
}

.footerList {
  display: flex;
  gap: 12px;
}

.footerBottom{
display: flex;
justify-content: space-between;
}
.stroke{
    margin-top: 12px;

  height: 8px;
  width: 100%;
 border-radius:4px 4px 0px 0px;
  border: #E72E00  solid;
  border-bottom: 0px;
}

nav{
  margin-top: 24px;
}
.navFlex{
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  gap: 12px;
}

.navButton{
  background: #E72E00;
  border: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  color: white;
  width: fit-content;
  padding: 12px;
  gap: 12px;
  border-radius: 4px;
}

.projectList{
  display: flex;
  gap: 20px;
;
}

.projet{
  color: white;
    padding: 40px;
  width: fit-content;
  background: #E72E00;
  
}

.projetTop{
  display: flex;
  justify-content: space-between;
}

.projetSub{
    font-size: 16px;
    font-family: Supply Mono;

}

.projet img{
  height: 375px;
}