
@import "tailwindcss";


@font-face {
  font-family: Grotesk;
  src: url('../public/font/PP\ Right\ Grotesk-normal-400-100.ttf');
}
@font-face {
  font-family: Neue Montreal;
  src: url('../public/font/PP\ Neue\ Montreal-normal-400-100.ttf');
}
@font-face {
  font-family: Supply Mono;
  src: url('../public/font/PP\ Supply\ Mono\ Light-normal-400-100.ttf');
}